<div class="footer-group">
  <img
    src="https://res.cloudinary.com/drtr6i0qt/image/upload/v1693805821/goodanime/footer-bg_nqvpv3.png"
    alt=""
    class="footer-bg"
  />
  <div class="container">
    <div class="first-row">
      <div class="spacer">&nbsp;</div>
      <ul>
        <li class="item">
          <img
            src="https://res.cloudinary.com/drtr6i0qt/image/upload/v1693464659/goodanime/logo-dark_d8jsgj.png"
            alt="good logo"
            srcset="
              https://res.cloudinary.com/drtr6i0qt/image/upload/v1693464659/goodanime/logo-dark_d8jsgj.png
            "
            height="25px"
          />
        </li>
        <li class="item"><b>GOODANIME+</b></li>
        <li class="item">News</li>
        <li class="item">Forums</li>
      </ul>
      <ul>
        <li class="item">FAQ</li>
        <li class="item">About</li>
        <li class="item">Terms of Service</li>
        <li class="item">Privacy Policy</li>
      </ul>
      <ul>
        <li class="item">Support</li>
        <li class="item">GoodMovies</li>
        <li class="item">GOODDRAMA</li>
        <li class="item">Why GOODANIME?</li>
      </ul>
      <div>
        <ul>
          <li><h3>FOLLOW US</h3></li>
          <li>
            <ul>
              <li>
                <a href=""
                  ><img
                    src="https://res.cloudinary.com/drtr6i0qt/image/upload/v1693464660/goodanime/socials_drgwen.png"
                    alt="socials"
                    height="30px"
                /></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
        sapiente.
      </p>
    </div>
  </div>
</div>
